body {
    background-color: #191919;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app > h1 {
    background-color: #f0f0f0;
    border-radius: 20px;
    width: 500px;
    text-align: center;
}

.app > p {
    color: #fff;
    font-size: larger;
    font-weight: bolder;
}

.square {
    width: 100px;
    height: 100px;
    font-size: 24px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square:hover {
    background-color: #bbb3b3;
}
